Docu/xsd/cube-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Copyright 2010-2017 BusinessCode GmbH, Germany

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<xs:schema version="1.0" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.businesscode.de/schema/bcdui/cube-2.0.0"
  xmlns:tns="http://www.businesscode.de/schema/bcdui/cube-2.0.0"
  xmlns:calc="http://www.businesscode.de/schema/bcdui/calc-1.0.0"
  xmlns:dm="http://www.businesscode.de/schema/bcdui/dimmeas-1.0.0"
  xmlns:f="http://www.businesscode.de/schema/bcdui/filter-1.0.0"
  xmlns:wrq="http://www.businesscode.de/schema/bcdui/wrs-request-1.0.0"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <xs:annotation>
    <xs:documentation></xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://www.w3.org/2001/XInclude"/>
  <xs:import namespace="http://www.businesscode.de/schema/bcdui/calc-1.0.0"/>
  <xs:import namespace="http://www.businesscode.de/schema/bcdui/dimmeas-1.0.0"/>
  <xs:import namespace="http://www.businesscode.de/schema/bcdui/filter-1.0.0"/>
  <xs:import namespace="http://www.businesscode.de/schema/bcdui/wrs-request-1.0.0"/>

  <xs:element name="CubeConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wrq:BindingSet"/>
        <xs:element ref="tns:Layout" minOccurs="0">
          <xs:annotation><xs:documentation>Requested dimensions and measures.</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element name="Dimensions" minOccurs="0">
          <xs:annotation><xs:documentation>If not given, all /*/dm:Dimensions/dm:LevelRef are offered.</xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dm:LevelRef" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MeasuresRefs" minOccurs="0">
          <xs:annotation><xs:documentation>If not given, all /*/dm:Measures/dm:Measure are offered.</xs:documentation></xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dm:MeasureRef" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="tns:Layouts" minOccurs="0">
          <xs:annotation><xs:documentation>Well known layout-templates.</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="dm:Measures" minOccurs="0">
          <xs:annotation><xs:documentation>Definition of measures that can be referenced in cube:MeasuresRefs.</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="dm:DetailDataDefaults" minOccurs="0"/>
        <xs:element ref="xi:include" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:keyref name="topNMeasureRefId" refer="dm:measureUnique">
      <xs:selector xpath="tns:Layout/tns:TopNDimMembers/tns:TopNDimMember/dm:MeasureRef"/>
      <xs:field xpath="@idRef"/>
    </xs:keyref>
    <xs:keyref name="measuresMeasureRefId" refer="dm:measureUnique">
      <xs:selector xpath="tns:Layout/tns:Measures/*/dm:MeasureRef"/>
      <xs:field xpath="@idRef"/>
    </xs:keyref>
  </xs:element>

  <xs:element name="Layout" type="tns:LayoutType"/>

  <xs:complexType name="LayoutType">

    <xs:choice maxOccurs="3"> <!-- TODO, each child element to appear max 1 -->

      <xs:element name="TopNDimMembers" minOccurs="0">
        <xs:annotation><xs:documentation>
          Defines a restriction on dimension members. Only those n dimension member combinations (=rows), defined via dm:LevelRef
          will be included, which have the highest/lowest value of the provided measure.
        </xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TopNDimMember" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="dm:LevelRef" maxOccurs="unbounded" minOccurs="1"/>
                  <xs:element ref="dm:MeasureRef" maxOccurs="1" minOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="n" type="xs:integer" use="required">
                  <xs:annotation><xs:documentation>
                    Number of rows to be shown
                  </xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="tb" default="top">
                  <xs:annotation><xs:documentation>
                    Top or bottom, i.e. highest or lowest will be shown.
                  </xs:documentation></xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="top"/>
                      <xs:enumeration value="bottom"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
              <xs:unique name="levelRefUnique"><xs:selector xpath="dm:LevelRef"/><xs:field xpath="@bRef"/></xs:unique>
              <xs:unique name="measureRefUnique"><xs:selector xpath="dm:MeasureRef"/><xs:field xpath="@idRef"/></xs:unique>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="includeOther" default="false" type="xs:boolean">
            <xs:annotation><xs:documentation>
              Whether or not to include the value for all "other" dimension members
            </xs:documentation></xs:annotation>
          </xs:attribute>

        </xs:complexType>
      </xs:element>

      <xs:element name="Measures">
        <xs:complexType>
          <xs:annotation><xs:documentation>
            List of measures to be shown.
          </xs:documentation></xs:annotation>
          <xs:sequence>
            <xs:element name="RowDims" minOccurs="0">
              <xs:annotation><xs:documentation>
                Measures listed here are only grouped by row dimensions.
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="dm:MeasureRef" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="dm:Measure" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="AllDims" minOccurs="0">
              <xs:annotation><xs:documentation>
                Measures listed here are only grouped by all (row and column) dimensions.
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="dm:MeasureRef" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="dm:Measure" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Dimensions">
        <xs:complexType>
          <xs:sequence>

            <xs:element name="Rows" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="dm:LevelRef" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="Columns" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="dm:LevelRef" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>

          <xs:attribute name="hideTotals" default="false" type="xs:boolean">
            <xs:annotation><xs:documentation>
              If set, no row or column totals are shown.
              They will still be calculated though to allow cumulation and sort-dim-by-measure features.
            </xs:documentation></xs:annotation>
          </xs:attribute>

        </xs:complexType>
      </xs:element>

      <xs:element name="Hide">
        <xs:complexType>
          <xs:annotation><xs:documentation>
            Do hide rows/columns matching the filter but include their value in the (sub)totals. See exclude..
          </xs:documentation></xs:annotation>
          <xs:sequence>
            <xs:element ref="f:Filter"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:choice>

    <xs:attribute name="cubeId" type="xs:NCName">
      <xs:annotation><xs:documentation>
        Id of the cube object on the page his belongs to.
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="removeEmptyCells" default="rowCol">
      <xs:annotation><xs:documentation>If rowCol, rows and columns not holding any measure data will be removed from the output.</xs:documentation></xs:annotation>
      <xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="rowCol"/><xs:enumeration value="false"/></xs:restriction></xs:simpleType>
    </xs:attribute>
    <xs:attribute name="expandCollapseCells">
      <xs:annotation><xs:documentation>Turn on collapse/expand functionality to cube dimension levels, use collapse or expanded to define the initial mode</xs:documentation></xs:annotation>
      <xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="expand"/><xs:enumeration value="collapse"/><xs:enumeration value="false"/></xs:restriction></xs:simpleType>
    </xs:attribute>
    <xs:attribute name="manualSort" type="xs:boolean">
      <xs:annotation><xs:documentation>Used by cube header clicks to indicate hard sorting of a single dimension or measure. When a manual sort is active, this flag is set to true.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="layoutModel" type="xs:NCName">
      <xs:annotation><xs:documentation>Model id which is used as listener target to refresh the cube's enhanced configuration ('redisplay'). Default is cube configurator's targetModelId.
      </xs:documentation></xs:annotation>
    </xs:attribute>

  </xs:complexType>

  <xs:element name="Layouts">
    <xs:annotation><xs:documentation>Well-known layout templates.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Layout" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:LayoutType">
                <xs:attribute name="id" type="xs:NCName">
                  <xs:annotation><xs:documentation>Unique template id.</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="isReadOnly" type="xs:boolean">
                  <xs:annotation><xs:documentation>Can this be changed by the user?</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string">
                  <xs:annotation><xs:documentation>Caption to be shown.</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="description" type="xs:string">
                  <xs:annotation><xs:documentation>Description to be shown.</xs:documentation></xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="VDM">
    <xs:annotation><xs:documentation>
      Docu see usage in dimmeas-1.0.0.xsd
    </xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="calc:Calc"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:NCName">
        <xs:annotation><xs:documentation>Used to identify the VMD in the cueb configurator.</xs:documentation></xs:annotation>
      </xs:attribute>
      <xs:attribute name="caption" type="xs:string" use="required">
        <xs:annotation><xs:documentation>Caption of the new dimension member in the report.</xs:documentation></xs:annotation>
      </xs:attribute>
      <xs:attribute name="userDefined" type="xs:boolean">
        <xs:annotation><xs:documentation>Allows to offer "delete" in context menues, no impact on caclulation.</xs:documentation></xs:annotation>
      </xs:attribute>
      <xs:attribute name="userInput" type="xs:string">
        <xs:annotation><xs:documentation>If entered via the formula editor, this is the original user-entered string.</xs:documentation></xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>