Docu/xsd/subjectsettings-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2010-2022 BusinessCode GmbH, Germany

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.businesscode.de/schema/bcdui/subjectsettings-1.0.0"
        xmlns:tns="http://www.businesscode.de/schema/bcdui/subjectsettings-1.0.0" elementFormDefault="qualified"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
        >
  <annotation>
    <documentation></documentation>
    <appinfo>
      <jaxb:schemaBindings><jaxb:package name="de.businesscode.bcdui.subjectsettings.config"/></jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <!--
    SubjectSettingsConfig
    Root element server side config in WEB-INF/bcdui/subjectSettings.xml
    -->
  <element name="SubjectSettingsConfig" type="tns:SubjectSettingsConfig">
    <annotation><documentation>
      Root element for WEB-INF/bcdui/subjectSettings.xml. Defines the available SubjectSettings for use in bnd:BindingsSet/bnd:SubjectSettings for example.
      In addition to these, SubjectPreferences, which are user-selectable SubjectSettings as defined in /bcdui/conf/subjectPreferences.xml exist.
    </documentation></annotation>
  </element>

  <complexType name="Security">
    <annotation>
    <documentation>
      this type contains security settings applicable to the context
    </documentation>
    </annotation>
    <sequence>
      <element name="Operation" minOccurs="1" maxOccurs="unbounded">
        <annotation>
          <documentation>
            the operation defining the permission (shiros context) to the named operation supported by implementation.
          </documentation>
        </annotation>
        <complexType>
          <attribute name="name" use="required" type="string">
            <annotation>
              <documentation>
                the name of operation to execute under security restrictions. This depends on the implementation of this security context.
              </documentation>
            </annotation>
          </attribute>
          <attribute name="permission" type="string" use="required">
            <annotation>
              <documentation>
                List of permissions required for this operation, these are checked against permission list configured by shiro implementation.
                The ACL is inclusive, means that all defined permissions are required to execute this operation. The list may be empty, effectively
                disengaging security policy.
                Example: userAdmin admin:write admin:create
              </documentation>
            </annotation>
          </attribute>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="SubjectSettingsConfig">
    <sequence>
      <element name="SubjectFilterTypes" minOccurs="0">
        <complexType>
          <sequence>
            <element name="SubjectFilterType" type="tns:SubjectFilterType" minOccurs="0" maxOccurs="unbounded">
              <annotation>
                <documentation>
                  Each SubjectFilterType defines the BindingItem on which to apply the restriction and a BindingSet with the user's rights
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="Authentication" type="tns:AuthenticationType"/>
      <element name="SubjectSettings" minOccurs="0" type="tns:SubjectSettingsType"/>
      <element name="UserSettingsDefaults" minOccurs="0" maxOccurs="1">
        <complexType>
          <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="Default">
              <annotation><documentation>
                Sets a permission as a default for every user
              </documentation></annotation>
              <complexType>
                <attribute name="type" use="required" type="string">
                  <annotation><documentation>
                    the permission type
                   </documentation></annotation>
                </attribute>
                <attribute name="value" type="string" use="required">
                  <annotation><documentation>
                   the permission value
                  </documentation></annotation>
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="SubjectFilterType">
    <sequence>
      <element name="Caption" minOccurs="0" maxOccurs="1"/>
      <element name="BindingItems">
        <complexType>
          <sequence>
            <element name="C">
              <annotation>
                <documentation>
                  The BindingItem to apply the check on. Must be present in each BindingSet using this SubjectFilterType.
                </documentation>
              </annotation>
              <complexType>
                <attribute name="bRef"/>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AssignableValues" minOccurs="0">
        <annotation><documentation>Configuration of the user-rights editor</documentation></annotation>
        <complexType>
          <sequence>
            <element name="BindingSet">
              <annotation><documentation>Where to find the allowed values.</documentation></annotation>
            </element>
          </sequence>
          <attribute name="multi" type="boolean">
            <annotation><documentation>If true, multiple values can be assigned to the user.</documentation></annotation>
          </attribute>
          <attribute name="addAllOption" type="boolean">
            <annotation><documentation>If true,  a wild-card can be assigned, allowing all, also including future, values.</documentation></annotation>
          </attribute>
        </complexType>
      </element>
    </sequence>
    <attribute name="op" type="tns:TypeSQLOperators" default="=">
      <annotation><documentation>Comparison operator, defaults to '='.</documentation></annotation>
    </attribute>
    <attribute name="name" use="required" type="string">
      <annotation><documentation>
        Unique Name of this FilterType definition.
        Will be referenced in the SubjectFilter/@type attribute in a BindingSet and will be the name of the filter type,
        for example given in bcd_sec_user_settings in right_type, unless overwritten with @type.
      </documentation></annotation>
    </attribute>
    <attribute name="type" use="optional" type="string">
      <annotation><documentation>
        Overwrites the filter type to map to in [bcd_sec_user_settings].right_type, i.e. you can define different filters
        all mapped to same type to realize relations like having origin_country or destination_country permission set
        defined by 'country' acl.
      </documentation></annotation>
    </attribute>
    <attribute name="isNullAllowsAccess" use="optional" type="boolean" default="false">
      <annotation><documentation>
      Enables null-value evaluation on data to be filtered. i.e. when using boolean security flags like 'isRestricted' you can set it to null value
      and set this attribute to true to allow accessing the data.
      </documentation></annotation>
    </attribute>
    <attribute name="mode" use="optional" type="string" default="RW">
      <annotation><documentation>
      Defines on which operations this filter type is being enabled. (R)ead operations only, (W)rite operations only, or both (RW) which is the default.
    </documentation></annotation>
    </attribute>
  </complexType>

  <complexType name="AuthenticationType">
    <annotation><documentation>
    defines authentication method
    </documentation></annotation>
    <sequence>
      <element name="Ldap" minOccurs="0" maxOccurs="0"/>
      <element name="SubjectSettings" minOccurs="0">
        <annotation><documentation>
        Enable SubjectSettings for authentication, please set Shiro realm to de.businesscode.bcdui.subjectsettings.JdbcRealm
        </documentation></annotation>
        <complexType/>
      </element>
    </sequence>
  </complexType>

  <complexType name="SubjectSettingsType">
    <sequence>
      <element name="Jdbc">
        <complexType>
          <choice>
            <element name="DataSource">
              <complexType>
                <attribute name="name"/>
              </complexType>
            </element>
            <element name="DefaultDataSource">
              <complexType/>
            </element>
          </choice>
        </complexType>
      </element>
    </sequence>
  </complexType>
 <simpleType name="TypeSQLOperators">
    <restriction base="string">
      <enumeration value="="/>
      <enumeration value=">"/>
      <enumeration value=">="/>
      <enumeration value="&lt;"/>
      <enumeration value="&lt;="/>
      <enumeration value="&lt;>"/>
      <enumeration value="like"/>
      <enumeration value="notLike"/>
      <enumeration value="in"/>
      <enumeration value="notIn"/>
      <enumeration value="bitand"/>
    </restriction>
  </simpleType>

  <!--
    SubjectPreferencesConfig
    Root element of the SubjectPreferences config in /bcdui/conf/subjectPreferences.xml
    -->
  <element name="SubjectPreferencesConfig" type="tns:SubjectPreferencesConfig">
    <annotation><documentation>
      Root element for /bcdui/conf/subjectPreferences.xm.
      SubjectPreferences introduce SubjectSetting types that a user can dynamically change within defined boundaries.
      They exist in addition to SubjectSettings defined in WEB-INF/bcdui/subjectSettings.xml.
    </documentation></annotation>
  </element>

  <complexType name="SubjectPreferencesConfig">
    <sequence>
      <element name="Settings" minOccurs="0">
        <annotation><documentation>
          A SubjectPreferences introduced.
        </documentation></annotation>
        <complexType>
          <sequence>

            <!-- An individual introduced SubjectPreference type -->
            <element name="Setting" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <sequence>
                  <choice>

                    <!-- A Hard coded values -->
                    <element name="Values">
                      <annotation><documentation>
                        The allowed values a user may choose from are provided in a fixed set of values here.
                      </documentation></annotation>
                      <complexType>
                        <sequence>
                          <element name="Value" maxOccurs="unbounded">
                            <annotation><documentation>
                              A value that can be selected by the user.
                              Star '*' means all (other) available values mentioned here are selected at the same time.
                            </documentation></annotation>
                            <complexType>
                              <simpleContent>
                                <extension base="string">
                                  <attribute name="default" default="false">
                                    <annotation><documentation>
                                      If true, this value is to be used a default value when no cookie is given or the user removes the last value.
                                    </documentation></annotation>
                                  </attribute>
                                </extension>
                              </simpleContent>
                            </complexType>
                          </element>
                        </sequence>

                        <!-- Attribute of Values -->
                        <attribute name="isMulti" default="false">
                          <annotation><documentation>
                            If true, is it allowed to select multiple values for the SubjectPreference introduced here.
                          </documentation></annotation>
                        </attribute>
                        <attribute name="preventEmpty" default="false">
                          <annotation><documentation>
                            If true, the defaults are set not only at the beginning at the session when no cookie is given but also when the user deselects all values.
                          </documentation></annotation>
                        </attribute>
                      </complexType>
                    </element>

                    <!-- B Dynamic values from bcd_sec_user_settings -->
                    <element name="SourceSetting">
                      <annotation><documentation>
                        The allowed values a user may choose from are controlled by his/her entries in bcd_sec_user_settings.
                      </documentation></annotation>
                      <complexType>
                        <attribute name="ref" use="required">
                          <annotation><documentation>
                            The right_type in bcd_sec_user_settings from which the allowed values are derived.
                          </documentation></annotation>
                        </attribute>
                        <attribute name="isMulti" default="false">
                          <annotation><documentation>
                            If true, it is allowed to select multiple values for the SubjectPreference introduced here.
                          </documentation></annotation>
                        </attribute>
                        <attribute name="defaults" default="false">
                          <annotation><documentation>
                            Space separated list of values used as the default (no cookie or last value removed and emptyAllowed=false).
                            Special value #bcdAllAllowed# means default to all values the user has been assigned in bcd_sec_user_settings for the right_type referenced by @name
                          </documentation></annotation>
                        </attribute>
                        <attribute name="preventEmpty" default="false">
                          <annotation><documentation>
                            If true, the defaults are set not only at the beginning at the session when no cookie is given but also when the user deselects all values.
                          </documentation></annotation>
                        </attribute>
                      </complexType>
                    </element>

                  </choice>
                </sequence>

                <!-- Attribute of Setting -->
                <attribute name="name" use="required">
                  <annotation><documentation>
                    Refers to the SubjectSetting type introduced by this preference. Referenced by its name same as a right_type from bcd_sec_user_settings.
                  </documentation></annotation>
                </attribute>
                <attribute name="caption" use="optional">
                  <annotation><documentation>
                    Caption which can be used in a widget.
                  </documentation></annotation>
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>

    <!-- Attributes of SubjectPreferencesConfig -->
    <attribute name="cookieName">
      <annotation><documentation>
        If not empty, SubjectPreferences are stored in a cookie (with this name) across sessions. In that case defaults are not used by the settings stored in the cookie.
      </documentation></annotation>
    </attribute>
    <attribute name="cookiePath" default="/bcdui">
      <annotation><documentation>
        Where the cookie is transferred to.
        Default /bcdui will be enough in most cases as its values is stored on session level at the server after it was first sent.
        Root is the application's context path.
      </documentation></annotation>
    </attribute>
  </complexType>

</schema>